body {
  font-family: "Gill Sans";
}

textarea.input-xlarge {
  background: rgb(250, 249, 236);
  border: none;
  font-size: 14pt;
}

#aggplot .loading-text {

}


.query-description-fieldset {
  display: none;
}

text {
	font-family: "Gill Sans";
	font-size: 15pt;
}
.brush{
	fill-opacity: 0;
	fill: orange;
	stroke: black;
	shape-rendering: crispEdges;
}
circle {
	fill-opacity: 0.8;
}
.bgcircle{
	fill: black;

}
g { border: none; padding:0pxs	; margin:0px; }
.selectionrect {
	fill: ;
}
.legend {
	padding-left: 50;
	font-family: 'helvetica neue', helvetica, garamond, verdana;
}
.legend div {
	padding-right: 10px;
}

div.xlabel {
	margin: 10px;
	text-align: center;
}

#rawdata {
	height: 300px;
	overflow-y: scroll;
}

.btn {
	width: 100%;
	margin: 5px;
}

.vtext {
	-moz-transform: rotate(-90deg) translate(0, 100%);
   -moz-transform-origin: 0% 100%;
   -o-transform: rotate(-90deg) translate(0, 100%);
   -o-transform-origin: 0% 100%;
   -webkit-transform: rotate(-90deg) translate(0, 100%);
   -webkit-transform-origin: 0% 100%;
   transform: rotate(-90deg) translate(0, 100%);
   transform-origin: 0% 100%;
}


#overlay {
	width:100%;
	height:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(51, 51, 51, 0.59);
	z-index: 2000;
}

#overlay span {
	position: absolute;
	top: 45%;
	font-size: 25pt;
	color: white;
	text-shadow: 0 1px 2px rgba(253, 253, 253, 0.55);
	width: 30em;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.filter-clause {
  font-family: "Gill Sans";
  font-size: 14pt;
  line-height: 17pt;
  color: white;
  clear: both;
  background: steelblue;
  width: 100%;
  padding: 1em;
  list-style-type: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  margin: 0;
  margin-top: 1.5em;
}
.filter-clause .load-text {
  display: none;
  color: black;
}

.filter-clause .score {
  right: .25em;
  top: .25em;
  position: absolute;
  font-weight: 100;
  font-size: 10pt;
  display: none;
}

.filter-clause .crange {
  right: .25em;
  top: .25em;
  position: absolute;
  font-weight: 100;
  font-size: 10pt;
}

.filter-clause:hover {
  background: rgb(53, 159, 219);
}


.filter-loading {
  color: #333;
  background: whitesmoke;
}

.filter-loading .load-text {
  position: absolute;
  display: inline;
  top: 1em;
  right: 1em;
}

.filter-loading:hover {
  background: whitesmoke;
}

.filter-clicked {
  background: rgb(75, 173, 102);
}
.filter-clicked:hover {
  background: rgb(75, 173, 102);
}

.equiv-clauses {
  margin-left: 1em;
}
.equiv-clause, .equiv-clauses-btn, .clause-hide {
  font-family: "Gill Sans";
  font-size: 12pt;
  line-height: 15pt;
  color: white;
  clear: both;
  background: rgb(60, 79, 95);
  width: 100%;
  padding: .75em;
  list-style-type: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  margin: 0;
  margin-bottom: 5px;
}


.equiv-clauses-btn, .clause-hide {
  margin-left: 1em;
}

.btn-clause {
    width: 150px;
    display: none;
}

span.clause-part {
    display: inline;
}


#walkthrough-popover .control-label, #walkthrough-popover .controls span, #walkthrough-popover label {
    font-size: 15pt;
}


#ql-container {
  display: none;
  }



#sb_addbad.clicked, #sb_addgood.clicked {
  background: grey;
}
