
<!--<h2 class="heading">Result Data <small></small></h2>-->
	
<!--
<div id="rawdata">
	<div class="legend"></div>
</div>
-->


<div id="aggplot">
  <div class="heading">
    <span class="legend"></span>
    <small class="loading-text"></small>
  </div>
	<svg></svg>
	<div class="xlabel"></div>
</div>






{% if data %}

<!--<div class="page-header">
	<h2>Data Cleaning Operations <small>(<span class="err_npts">0</span> pts)</small></h2>
</div>-->


<style>
#formstatus-container h3 span {
	margin-left: 2em;
}
#formstatus-container small {
	font-size: 12pt;
}
</style>

<div class="span7">
<div class="row-fluid">
	<div span="span1">&nbsp;</div>
	<div span="span6" id="formstatus-container"></div>
</div>
</div>





{% endif %}