<fieldset style="display: block">
<div class="form-group">
	<label class="control-label col-md-2" for="dbname">
    Choose a Database<br/>
		<a class="btn-small" id="btn_schema" href="#">show schema</a>
  </label>
	<div class="controls col-md-10">
    <input type="hidden" name="db" id="dbvalue" value="{{g.dbname}}" />
		<select id="dbselect" class="form-control" name="db-dummy">
			<option value="intel" {% if g.dbname == 'intel' %}selected="selected"{% endif %}>
				Intel Sensor Dataset
      </option>
			<option value="fec12"  {% if g.dbname == 'fec12' %}selected="selected"{% endif %}>
				FEC Presidential Campaign Dataset
			</option>
      <!--
			<option value="senate"  {% if g.dbname == 'senate' %}selected="selected"{% endif %}>
				Senate Contributions
			</option>
			<option value="sigmod"  {% if g.dbname == 'sigmod' %}selected="selected"{% endif %}>
				Synthetic Datasets
			</option>
			<option value="movielens" {% if g.dbname == 'movielens' %}selected="selected"{% endif %}>
        Movie Lens Dataset
      </option>
			<option value="med" {% if g.dbname == 'med' %}selected="selected"{% endif %}>
        Medical
      </option>
      -->


			<!--<option value="bigdata" {% if g.dbname == 'bigdata' %}selected="selected"{% endif %}>
        Bigdata dataset
      </option>-->
		</select>
	</div>
</div>
</fieldset>

<fieldset id="fs_schema" loaded="no" loading="false" style="display:none; height: 400px; overflow-y:scroll; " >
  <label class="control-label col-md-2">Schema</label>
  <div id="fs_schema_contents" class="control col-md-10"></div>
</fieldset>



<script type="text/javascript">
$("#dbselect").change(function() {
	var selval = $("#dbselect option:selected").val()
  var can = canned_queries[selval];
  var q = can.query;
	global_state.db = can.db;
  global_state.query = q;
  $("#dbvalue").val(can.db);
  console.log("changed db to " + can.db)
  update_query(q);
	d3.select("#fs_schema").attr("loaded", "no").attr("loading", "false")
	$("#btn_schema").click().click();
})



$(function() {
	if ($("#query").text().match(/^\s+$/)) {
		$("#ql-container button:first").click();
	}
})
</script>

<script>
// schema loader
(function(){
	var _showing = false;
	var fsdiv = d3.select("#fs_schema");
	$("#btn_schema").click(function(){
		_showing = !_showing;
		if (fsdiv.attr("loaded") === "no") {
			if (fsdiv.attr("loading") == "true") return;
			fsdiv.attr("loading", "true");
			$.post('/json/schema/', {db:global_state.db}, function(schema){

					render_schema("#fs_schema_contents", schema);
					if (_showing)
						$("#fs_schema").slideDown();
					else
						$("#fs_schema").slideUp();
					fsdiv.attr("loaded", "yes");

			}, 'json')
		} else {
			console.log(_showing);
			if (_showing)
				$("#fs_schema").slideDown();
			else
				$("#fs_schema").slideUp();
		}

	});
})();

</script>
