{% if filter_opts %}

<!--<div class="page-header">
	<h2 class="heading">Filters to fix bad outputs</h2>
</div>-->

<script type="text/javascript">
var filter_click = (function() {
  return function(clauseid, query, where, data) {
    console.log("filter_click\t" + clauseid )
    $(".btn-clause").removeClass('btn-success');
    $("#clause_filter_" + clauseid + " pre").addClass('btn-success');
    update_query(query);
    plot = render_data(data, labels, query);
    global_state.filter = where;
    global_state.clauseid = clauseid;
    //update_tupleplot(); 
  }
})();

// { idx:, query:, where: } of the clause that's been clicked.
// null means nothing has been clicked
var clickedInfo = null;
</script>

<div id="clause_filter_orig">
		<pre class="btn btn-clause btn-success">Original Query</pre>
</div>
<script type="text/javascript">
	$("#clause_filter_orig").click(function(){
		filter_click("orig",  global_state.original_query, "", data);
	});
</script>


{% if not filter_opts %}

{% endif %}

{% for label, clauses in filter_opts %}
	{% if clauses|length > 0 %}
    <!--<h2>{{label}}</h2>-->
		{% for clause_parts, cquery, cwhere, cdata, equiv_clause_parts, score, c_range, idx in clauses %}
      <ul class="filter-clause" id="clause_{{idx}}">
        <span class="load-text">loading</span>
        <span class="score">{{score}}</span>
        <span class="crange">{{c_range[0]}} - {{c_range[1]}}</span>
        {% for clause in clause_parts %}
            <li class='clause-part'>{{clause}}</li>
        {% endfor %}
      </ul>
      {% if equiv_clause_parts %}
      <div class="equiv-clauses-btn" id="equiv_btn_{{idx}}">expand</div>
      <div id="equiv_clauses_{{idx}}" style="display: none;">
        <div class="equiv-clauses" >
          {% for equiv_clause_part in equiv_clause_parts %}
            <ul class="equiv-clause">
              {% for clause in equiv_clause_part %}
                <li class="clause-part">{{clause}}</li>
              {% endfor %}
            </ul>
          {% endfor %}
          <li class="clause-hide">Collapse</li>
        </div>
      </div>
      {% endif %}

			<div id="clause_filter_{{idx}}"><pre class="btn btn-clause">Filter</pre></div>
			<script type="text/javascript">
			(function(){
				var _query = "{{cquery|safe}}";
				var _idx = "{{idx}}";
				var _where = "{{cwhere|safe}}";
        var clause = $("#clause_{{idx}}");

				var cb_func = function(_resp) {	
					var _data = _resp.data,
              _labels = _resp.labels;
          clause.removeClass("filter-loading")
					$("#aggplot .loading-text").text('rendering...');
					filter_click(_idx, _query, _where, _data);//, _labels);
					$("#aggplot .loading-text").empty();
				};
        var _info = {query: _query, idx: _idx, where: _where, cb: cb_func.bind(this)};
				
        clause.hover(
          function() {
            if (clickedInfo && clickedInfo.idx == _idx) return;
            $("#aggplot .loading-text").text('loading...');
            get_aggdata(_query, _idx, _where, cb_func);
          },
          function() {
            if (clickedInfo && clickedInfo.idx == _idx) return;
            if (clickedInfo) {
              get_aggdata(
                clickedInfo.query, clickedInfo.idx, 
                clickedInfo.where, clickedInfo.cb);
            } else {
              filter_click("orig",  global_state.original_query, "", data);//, labels);
            }
          });
        clause.click(function() {
          if (clickedInfo && clickedInfo.idx == _idx)
            clickedInfo = null; 
          else
            clickedInfo = _info;
          $(".filter-clause").removeClass("filter-clicked");
          if (clickedInfo) {
            clause.addClass("filter-clicked");
            $("#aggplot .loading-text").text('loading...');
            get_aggdata(_query, _idx, _where, cb_func);
          } else {
            filter_click("orig",  global_state.original_query, "", data);//, labels);
          }
        });
        clause.addClass("filter-loading");
        get_aggdata(_query, _idx, _where, function() {
            clause.removeClass("filter-loading");
        });

        // connect expand-btn
        var show_btn = $("#equiv_btn_{{idx}}");
        var equivs = $("#equiv_clauses_{{idx}}");
        var hide_btn = equivs.find(".clause-hide");
        show_btn.click(function() {
          show_btn.hide();
          equivs.show();
        })
        hide_btn.click(function() {
          equivs.hide();
          show_btn.show();
        })


			})();

			</script>
		{% endfor %}
	{% endif %}
{% endfor %}




{% endif %}
