<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">	
	<link rel="stylesheet" type="text/css" href="/static/css/base.css?{{g.tstamp}}">
	<link rel="stylesheet" type="text/css" href="/static/css/all.css?{{g.tstamp}}">


	<script type="text/javascript" src="/static/js/jquery.js" ></script>
	<script type="text/javascript" src="/static/js/date.js" ></script>
	<script type="text/javascript" src="/static/js/underscore-min.js" ></script>	
	<script type="text/javascript" src="/static/js/backbone-min.js" ></script>	
	<script type="text/javascript" src="/static/js/d3.v2.js" ></script>
	<script type="text/javascript" src="/static/js/handlebars.js" ></script>	
	<script type="text/javascript" src="/static/js/bootstrap-mine.js" ></script>	
	<script type="text/javascript" src="/static/js/util.js" ></script>
	<script type="text/javascript" src="/static/js/walkthrough.js?{{g.tstamp}}" ></script>


	<script>
		
	global_state = {
		db : "{{g.dbname}}",
		query : "",
		highlighted_tuple_ids : {},
		bad_tuple_ids : {},  // D'
		highlighted_keys : {},
		good_keys : {}, 
		selected_keys : {},  // S
		attrs : [],
		gb_key : null,
		filter : "",
		clauseid : -1,
    n_bad_tuple_ids : function() {
      return d3.sum(d3.keys(global_state.highlighted_tuple_ids).map(function(key){
        return global_state.highlighted_tuple_ids[key].length}))
    },
    n_selected_keys : function() {
      return d3.sum(d3.keys(global_state.highlighted_keys).map(function(key){
        return global_state.highlighted_keys[key].length}))
    },
		original_query : ""
	}
	renderagg = null;
	rendetup = null;
  data = null;

	$(function() {
    console.log("init running");
		var opts = {overlap:-0, r:3.5};
		renderagg = new Renderer('aggplot', aggbrush, opts);
		rendertup = new Renderer('tupplot', tupbrush, opts);
		renderagg.on('brushevent', function(sobjs, labels, extents) {
			var x = 830,
				y = 270,
				w = new Walkthrough({x:x, y:y});
		}, renderagg);

		{% if data %}
      console.log("setting data");
			data = {{data|safe}};
      console.log(data);

			labels = {{labels|safe}};
			fix_date_objects(data, labels);

			renderagg.render_scatter(data, labels);
			global_state.query = $("#query").text();
			global_state.original_query = $("#query").text();			
		{% endif %}
		global_state.db = "{{g.dbname}}";
	});


	</script>
</head>


<div id="overlay" style="display: none;">
	<span>Computing.  Please wait...</span>
</div>
<script>
$("#overlay").click(function() {
	$("#overlay").hide();
})
</script>


<body style="margin: 20px; z-index:1">



{% include "query.html" %}


<div class="row-fluid">


	<div class="span7">
	<div style="margin: 10px">

<!--	<div class="page-header">
		<h1>Interact with results</h1>
	</div>-->

<!--	<ul class="nav nav-tabs">
	  <li class="active"><a id="link-aggplot" href="#tab-aggplot" data-toggle="tab">Aggregates</a></li>
	  <li><a id="link-tupplot" href="#tab-tupplot" data-toggle="tab">Individual Tuples</a></li>
	  <li><a id="link-rawdata" href="#tab-rawdata" data-toggle="tab">Raw Data</a></li>
	</ul>
-->
	<div class='row'> 
<!--		<div class="span1">&nbsp;</div>-->
		<div class="span10" style="position:fixed">
			<div class="tab-content">
			  <div class="tab-pane active" id="tab-aggplot">{% include "aggplot.html" %}</div>
<!--			  <div class="tab-pane" id="tab-tupplot">{% include "tupplot.html" ignore missing %}</div>-->
<!--			  <div class="tab-pane" id="tab-rawdata">{% include "rawdata.html" ignore missing %}</div>-->
			</div>
		</div>
		<div class="span1">&nbsp;</div>
	</div>
	 
	<script>
	  $(function () {
	    $('#tab-aggplot').tab('show');
	  })
	</script>



	</div>
	</div>


	<!-- Right Column -->
	<div class="span4">
		<div style="margin: 10px">{% include "filterspanel.html" %}</div>
	</div>

</div>


{% include "walkthrough.html" %}


</body>


</html>