<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">	
	<link rel="stylesheet" type="text/css" href="/static/css/base.css?{{g.tstamp}}">
	<link rel="stylesheet" type="text/css" href="/static/css/all.css?{{g.tstamp}}">
	<link rel="stylesheet" type="text/css" href="/static/css/gg.css?{{g.tstamp}}">


	<script type="text/javascript" src="/static/js/jquery.js" ></script>
	<script type="text/javascript" src="/static/js/date.js" ></script>
	<script type="text/javascript" src="/static/js/underscore-min.js" ></script>	
	<script type="text/javascript" src="/static/js/backbone-min.js" ></script>	
  <script type="text/javascript" src="/static/js/gg.js?" ></script>	
	<script type="text/javascript" src="/static/js/d3.min.js" ></script>
	<script type="text/javascript" src="/static/js/handlebars.js" ></script>	
	<script type="text/javascript" src="/static/js/bootstrap-mine.js" ></script>	
	<script type="text/javascript" src="/static/js/util.js" ></script>
	<script type="text/javascript" src="/static/js/walkthrough.js?{{g.tstamp}}" ></script>


	<script>
    var cache = {}
    global_state = {
      db : "{{g.dbname}}",
      query : "",
      yrange: [Infinity, -Infinity],
      highlighted_geoms: {},
      highlighted_keys: {},
      plot: null,
      bad_keys: {},
      bad_geoms: {},
      good_keys: {},
      drawn_path: null,
      bad_tuple_ids: {}, // legacy, passed to server but not used
      walkthrough: null
    }

    function compute_n_keys(the_keys) {
      return function() {
        d3.sum(_.values(the_keys).map(function(keys) {
          return keys.length;
        }));
      }
    }

    
    global_state.n_bad_keys = compute_n_keys(global_state.bad_keys)
    global_state.n_good_keys = compute_n_keys(global_state.good_keys);

	$(function() {
		{% if data %}
      data = {{data|safe}}
			labels = {{labels|safe}};

      denormalized = []

			data = gg.data.fromArray({{data|safe}});


			global_state.query = $("#query").text();
			global_state.original_query = $("#query").text();			
      global_state.walkthrough = new Walkthrough({y: 10, x: 300})
      global_state.walkthrough.close()
      global_state.plot = render_data(data, labels, global_state.query);

		{% endif %}

    setup_swap_events();
	});

	</script>
</head>


<div id="overlay" style="display: none;">
	<span>Computing.  Please wait...</span>
</div>
<script>
$("#overlay").click(function() {
	$("#overlay").hide();
})
</script>


<body style="margin: 20px; z-index:1">


{% include "query.html" %}


<div class="row-fluid">

	<div class="col-md-9" style="min-width: 880px">
    <div id="aggplot">
      <div class="heading">
        <span class="legend"></span>
        <small class="loading-text"></small>
      </div>
      <svg></svg>
      <div class="xlabel"></div>
    </div>
  </div>

	<!-- Right Column -->
	<div class="col-md-3">
		<div style="margin: 10px">{% include "filterspanel.html" %}</div>
	</div>

</div>

{% include "walkthrough.html" %}


</body>


</html>