

<script type="text/javascript">
var canned_queries = {
  intel : {
    query: "SELECT avg(temp), stddev(temp), date_trunc('hour',date+time) as dt\n FROM readings\n WHERE date > '2004-3-1' and date < '2004-3-15'\n GROUP BY dt\n ORDER BY dt ASC",
    db: "intel"
	},
	fec12 : {
    query: "SELECT sum(disb_amt), disb_dt as day FROM expenses_extradata WHERE (cand_id) = 'P80003338' GROUP BY day",
    db: "fec12"
  },
  senate: {
    query: "SELECT sum(dis_amo), can_nam as can_nam FROM senate WHERE (dis_dat) > '2000-01-01' GROUP BY can_nam ORDER BY sum(dis_amo) DESC",
    db: "fec12"
  },
  sigmod: {
    query: "SELECT sum(v), g FROM data_3_3_1000_0d50_80uo  GROUP BY g;",
    db: "sigmod"
  },
  movielens: {
    query: "SELECT avg(rating), title FROM ratings WHERE adventure = 1 GROUP BY title",
    db: "movielens"
  }
           
};
</script>



<div class="row-fluid">
<div class="span7">
<form id='querybox' class="form-horizontal"  action='/' method='POST'>

{% include "dbselect.html" %}

<fieldset>
  <div class="form-group">
    <label class="control-label col-md-2" for="query">
      Query
    </label>
    <div class="controls col-md-10">
      <textarea name="query" id="query" class='input-xlarge' style="width:100%" rows=5 >{% if query %}{{query|safe}}{% endif %}</textarea>
    </div>
  </div>
</fieldset>

<fieldset class="query-description-fieldset">
  <div class="form-group">
    <label class="control-label col-md-2" for="query">
      Description
    </label>
    <div class="controls col-md-10">	
      <blockquote id="query_desc"></blockquote>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="form-group">
    <div class="controls col-md-10 col-md-offset-2">
      <input type="submit" class="btn btn-primary" style="width:100%;" value="Run Query" />
    </div>
  </div>
</fieldset>

</form>


<div id="messagebox">
{% if errormsg %}
	<div class="alert alert-error">
	  <a class="close" data-dismiss="alert">×</a>
	  {{errormsg}}
	</div>
{% endif %}
</div>


</div><!-- end span12 -->


<div class="span4">
	<div id="ql-container"></div>
</div>


</div>

