<!--
flow:

select outliers
click on "too high/too low"
select outliers and click next
check boxes
submit

-->


<div id="walkthrough-popover" class="popover right in" style="background:none; box-shadow:none; border:none;">
	<!--<div class="arrow"></div>-->
	<div class="popover-inner">
		<div class="popover-title">
			<h4>Scorpion <button class="close" style="">x</button></h4>
		</div>
		<div class="popover-content" id="walkthrough-container" style="position:relative; ">
		
			<form id='errorbox' class="form-horizontal" action='/debug/' method='POST'>
			<fieldset>


        <div class="form-group" id="walkthrough-loading" style="display:none;">
          loading...
        </div>

				<div class="form-group" id="walkthrough-0">
          <label class="col-sm-3 control-label" for="errortypes">
              Selected outputs are
          </label>
          <div class="col-sm-9">
            <span id="sb_addbad" class="form-control btn btn-danger" >
              bad outputs
            </span>
            <span id="sb_addgood" class="form-control btn btn-success" >
              good outputs
            </span>
            <span class="form-control btn btn-default" id="swap-event-btn">
              click to draw</span>
          </div>
				</div>			

 				<div class="form-group" id="walkthrough-c" style="display:none;">
          <label class="col-sm-3 control-label" for="errortypes">
            C param
          </label>
          <div class="col-sm-9">
            <input id="c" name="c" value="0.3"/>
          </div>
				</div>			

        <div class="form-group" id="walkthrough-schema" >
          <label class="col-sm-3 control-label">
            <span class='link' onclick="$('#sb_schema').toggle()">attrs</span>
          </label>
          <div id="sb_schema" class="col-sm-9" style="display: none;">
            {% for attrname, type, checked in result_schema %}
              <label class="checkbox">
                <input type="checkbox" checked class="errattrs" id="errattrs_{{attrname}}" value="{{attrname}}"/>
                {{attrname}}
              </label>
            {% endfor %}
          </div>
        </div>

        <div class="controls" style="display: none">
          <input type="radio" id="errtype_0" name="errtype" {% if errtype == '0' %}checked{% endif %} value="0" />
          <input type="radio" id="errtype_1" name="errtype" {% if errtype == '1' %}checked{% endif %} value="1" />
          <input type="radio" id="errtype_2" name="errtype" {% if errtype == '2' %}checked{% endif %} value="2" />
          <input type="radio" id="errtype_3" name="errtype" {% if errtype == '3' %}checked{% endif %} value="3" />
          <input id="erreq" name="erreq" value="{{endeq}}"/>
        </div>

        <textarea style="display:none;" id="errbox_query" name="query">{{query|safe}}</textarea>
        <input type="hidden" id="errbox_errids" name="bad_tuple_ids" value="{}"/>        
        <input type="hidden" id="errbox_val" name="data" value="{}"/>
        <input type="hidden" id="errbox_goodkeys" name="goodkeys" value="{}"/>
        <input type="hidden" id="errbox_db" name="db" value="intel"/>
        <input type="hidden" id="errbox_attrs" name="attrs" value="[]"/>



        <div class="form-group">
          <div class="controls col-sm-9 col-sm-offset-3">
            <input type="submit" id="errbox_submit" class="form-control btn btn-primary" value="Debug Highlighted Points!"></input>
          </div>
				</div>






			</fieldset>
			</form>

		</div>
	</div>
</div>


{% raw %}

<script id="formstatus-template" type="text/x-handlebars-template">
{{#if nbad}}
<h3 id="fs-bad">
	{{nbad}} 
	<small>bad outputs selected</small>
	<a href="#" id="fs-reset-bad"><small>x</small></a>
</h3>
{{/if}}

{{#if ngood}}
<h3 id="fs-good">
	{{ngood}} 
	<small>good outputs selected</small>
	<a href="#" id="fs-reset-good"><small>x</small></a>
</h3>
{{/if}}

{{#if errtype}}
<h3 id="fs-errtype">
	<small>The value of the bad outputs are</small> {{errtype}}
	<a href="#" id="fs-reset-errtype"><small>x</small></a>	
</h3>
{{/if}}

{{#if errattrs}}
	<h3><small>Predicates containing these attributes will be considered:</small>
	{{#each errattrs}}<span>{{this}}</span>{{/each}}
	</h3>
{{/if}}

</script>

{% endraw %}

<script type="text/javascript">
$("#errorbox").submit(function() {
  try {
    return onScorpionSubmit();
  } catch(e) {
    console.log(e);
    return false;
  }
});
</script>
